@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="form-group">
        <label>Label</label>
        <input class="form-control" />
    </div>
    <input type="submit" />
    @if(!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }
</form>

<h2>Session</h2>
<ul>
    @foreach(var sessionKey in Context.Session.Keys)
    {
    <li>
        @sessionKey: @Context.Session.GetString(sessionKey)
    </li>
    }
</ul>

@section Scripts{
    <script>
        setTimeout(function(){
            $('.alert').hide(600);
        },500);
    </script>
}