@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="form-group">
        <label>Label</label>
        <input class="form-control" />
    </div>
    <input type="submit" />
</form>